html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #807171;
    width: 75%;
    height:75%;
    border-radius: 15px;
    box-shadow: 9px 9px 4px 3px #8071711a ;
}

section{
    display: flex;
    position: relative;
    left: 15%;
    background-color: #242424;
    width: 65%;
    height: 65%;
    border-radius: 15px;
    box-shadow: 9px 9px 4px 3px #242424c5 ;
}

